# Dependencies
node_modules/

# Build output
dist/
.astro/

# Mac system files
.DS_Store

# Environment variables
.env
.env.local
.env*.local
# Local Netlify folder
.netlify
# Backup/duplicate files
*.backup

